streamlit==1.40.2  # Web framework for UI  
requests==2.32.3  # API requests  
deep-translator==1.11.4  # Translation support  
SpeechRecognition==3.10.1  # Speech recognition  
gtts==2.5.4  # Text-to-speech conversion  
openai-whisper==20240930  # Whisper AI for speech-to-text  
torch==2.2.2  # Required for Whisper AI  
torchaudio==2.2.2  # Audio processing for Whisper  
torchvision==0.17.2  # Required for some torch-related dependencies  
numpy<2  

